

.cabecalho {
    background-color: #0f0938;
    color: beige;
    display: flex;
    justify-content: space-around;
    align-items: center;;
}

. cabecalho-imagem{
    width: 18%;
}

.cabecalho-lista-item{
    display: inline-block;
margin: 0 16px;
}
